*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.login-page{
    height: 100vh;
}
.logo-div{
    padding: 10px;
}
.login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}
.login-container form{
    display: flex;
    flex-direction: column;
    width: 33%;
}
.login-container form *{
    margin-top: 10px;
    margin-bottom: 10px;
}
.login-container form input{
    border: 1px solid #000;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    width: 100%;
}
.error{
    color: red;
}
@media screen and (max-width:768px)
{
    .login-container form{
        width: 80%;
    }
}
